:root{--first-title-color--: #212121;
    --acent-color--: #2196F3;
    --second-btn-color--: #FFFFFF;
}

body{font-family: Roboto;
    color: #757575;}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;}

ul, ol{margin: 0; padding-left: 0;}

.list{list-style: none;}

.link{text-decoration: none;}

.conteiner{width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;}

.header-list:focus,
.header-list:hover{
    color: var(--acent-color--);
    cursor: pointer;}

.header-link :focus,
.header-link :hover {
    color: var(--acent-color--);
    cursor: pointer;
}

.footer-link :focus,
.footer-link :hover {
    color: var(--acent-color--);
    cursor: pointer;
}

/*---header---*/
.logo{font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26); 
    letter-spacing: 0.03em;
    color: #000000;}
.logo-acent{color: var(--acent-color--)}

.header-list{font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--first-title-color--);}

.header-link{font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;}

.header{padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px;
    border-bottom: rgba(236, 236, 236, 1);}

/*--MAIN--*/

.hero{
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}


.hero-title{font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-btn-color--);}

.hero-btn{cursor: pointer;
    display: block;
    margin-top: 30px;
    margin: 0 auto;}
.hero-btn{font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-btn-color--);
    background-color: #2196F3;
    }

    /*--Content--*/

    .content{padding-top: 94px;
    padding-bottom: 94px;}

   .content-title{font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color--);
    margin-bottom: 10px;}
   .content-text{
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;}

/*--work--*/

.work{padding-bottom: 94px;}

.work-title{font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--first-title-color--);
    margin-bottom: 50px;}

/*--Comand--*/

.comand{padding-top: 94px;
    padding-bottom: 94px;}

.comand-title{font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color--);
    margin-bottom: 50px;}

.comand-subtitle{font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color--);}

.comand-text{
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;}

/*--footer--*/


.footer{background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer{font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--second-btn-color--);}

.adress {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--second-btn-color--);
}

.contacts{font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--second-btn-color--);}

.footer-link{font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;}
    
/*---portfolio--*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}


.list-btn{font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color--);
    cursor: pointer;}

.list-btn:hover,
.list-btn:focus{
        color: var(--second-btn-color--);
        background-color: var(--acent-color--);}

.portfolio-title{font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--first-title-color--);}
.portfolio-text{font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;}

.portfolio{padding-top: 94px;
padding-bottom: 94px;}